.InputForm {
  padding: 2rem 0;
  border: solid 0.1rem rgba(223, 230, 233, 0.5);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

/* containers */
.mainBox {
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;

  margin: 2rem auto;
}

.displayBox {
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;

  margin: 3rem 3rem;
}

/* LEFT - questions */
.mainQuestion {
  width: 80%;
  padding: 0 3rem;
}

.newDescription {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  width: 80%;
  padding: 0 3rem;
}

/* RIGHT - answers */
.mainAnswer {
  width: 20%;
}

.formSelect {
  width: 80%;
}

/* Horizontal containers */
/* Date selection */
.dateSelection {
  width: 50%;
}

.dateSelect {
  width: 30%;
}

.dateSelectButtons {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

/* formSection container */
.formSection {
  width: 100%;
}

/* conditions form */
.conditionsRow {
  display: flex;
  flex-direction: wrap;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.conditionsRow:nth-child(odd) {
  background-color: rgba(99, 110, 114, 0.2);
  border-radius: 0.4rem;
}

.eczemaType {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  width: 35%;
  padding: 0.5rem 3rem;
}

.eczemaItems {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 100;
  width: 35%;

  margin: auto 0;
}

.conditionInputs {
  width: 45%;
  text-align: right;
  float: right;
  padding: 0.1rem 0.2rem;
  border-radius: 0.4rem;
  margin: 0 1rem;
}

.conditionScore {
  font-size: 1.5rem;
  font-weight: 100;
  width: 10%;
  margin: auto 0;
}
