.TrackHistory {
  letter-spacing: 1px;
  width: 80%;
  padding: 5em;
  margin: 5em auto;
}

/* Section: selection panel */
.selectionContainer {
  margin: 2em auto;
}

select {
  /* background-color: ; */
  font-weight: 500;
  width: 300px;

  padding: 5px;
  border-radius: 8px;
}

select:hover {
  background-color: rgba(45, 52, 54, 1);
  color: rgba(223, 230, 233, 1);
}

/* Section: display */
.dailyEntry {
  padding: 20px;
  border: solid 1px rgba(223, 230, 233, 1);
  border-radius: 10px;
  margin-bottom: 1em;
}

.detailsDisplay {
  display: flex;
  flex-direction: wrap;
  justify-content: space-around;
  width: 100%;
}

.displayGroup {
  width: 100%;
  float: left;
}

/* Left: conditions */
.conditionsDisplay {
  width: 300px;
  margin: 2em;
}

.eczemaType {
  font-size: 18px;
  font-weight: 700;
  width: 60px;
}

.eczemaItems {
  list-style: none;
  width: auto;
  margin: 0 auto;
  justify-content: left;
}

/* right: variables */
.variableDisplay {
  /* display: flex;
  flex-direction: column; */
  width: 700px;
  margin: 2em;
}

.entries {
  width: 500px;
  display: flex;
  flex-direction: wrap;

  padding: 1em;
  border: solid 2px rgba(223, 230, 233, 1);
  border-radius: 10px;
  margin-bottom: 1em;
}

.mealType {
  font-weight: 700;
  font-size: 18px;
  width: 90px;
}

.location {
  display: block;
  text-align: left;
  width: 350px;

  padding: 2px 0 10px 30px;
  border: solid 0.5px rgba(223, 230, 233, 1);
  border-radius: 5px;
  margin: 5px 1em;
}

.mealItems {
  width: auto;
  margin: 0 auto;
  justify-content: left;
}

/* general lists */
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* font styles */
h3 {
  margin-bottom: 20px;
}

.locationName {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  list-style: none;
  padding: 3px 0;
}
