.TrackHistory {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.08rem;
  width: 80%;

  padding: 10rem 0;
  margin: 0 auto;
}

/* Section: selection panel */
.selectionContainer {
  margin: 2rem auto;
}

select {
  /* background-color: ; */
  font-weight: 500;
  width: 12%;

  padding: 0.4rem;
  border-radius: 0.6rem;
  margin-right: 1rem;
}

select:hover {
  background-color: rgba(29, 30, 30, 1);
  color: rgba(223, 230, 233, 1);
}

/* Section: display */
.dailyEntry {
  padding: 2rem;
  border: solid 0.1rem rgba(223, 230, 233, 0.5);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.detailsDisplay {
  display: flex;
  flex-direction: wrap;
  justify-content: space-around;
  width: 100%;
}

.displayGroup {
  width: 98%;
  margin: 0 auto;
  /* float: left; */
}

/* Left: conditions */
.conditionsBorder {
  z-index: 99;
  width: 25rem;
  height: 100%;
  background-color: rgba(29, 30, 30, 1);
}

.conditionsDisplay {
  width: 25%;
  /* margin: 2em; */
}

/* .conditionsRow {
  justify-content: left;
} */

.conditionsRow:nth-child(odd) {
  background-color: rgba(99, 110, 114, 0.2);
  border-radius: 0.4rem;
}

.eczemaType {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  width: 60%;
}

.eczemaItems {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 100;
  width: 40%;
  margin: 0 auto;
  justify-content: left;
  /* vertical-align: middle; */
}

/* right: variables */
.variableDisplay {
  width: 70%;
  /* margin: 2em; */
}

.entries {
  width: 100%;
  display: flex;
  flex-direction: wrap;

  padding: 0.2rem;
  border: solid 2px rgba(223, 230, 233, 0.3);
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.mealType {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  width: 12%;

  margin: 2rem 1.2rem;
}

.location {
  display: block;
  text-align: left;
  width: 96%;

  padding: 0.7rem 0 1.5rem 2.5rem;
  border: solid 0.5px rgba(223, 230, 233, 1);
  border-radius: 5px;
  margin: 1rem auto;
}

.mealItems {
  width: 90%;
  margin: 0 auto;
  justify-content: left;
}

/* general lists */
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* font styles */
.entryDate {
  width: 97%;
  margin: 0.5rem auto;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
}

.entryTitle {
  /* background-color: rgba(223, 230, 233, 0.5); */
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.2rem;

  padding: 1rem 0;
  border-bottom: solid 0.2rem rgba(255, 255, 255, 1);
  margin: 2rem auto;
}

li {
  padding: 0.4rem;
}

.locationName {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-style: italic;
  list-style: none;
  margin-bottom: 0.5rem;
}

.item {
  width: 96%;
}

.item:nth-child(even) {
  background: rgba(99, 110, 114, 0.2);
  color: rgba(255, 255, 255, 1);
  border-radius: 0.4rem;
}

.conditionsRow:hover,
.item:hover {
  background-color: #a29bfe;
  color: #282535;
  font-weight: 500;
}
