div {
  width: 80%;
  margin: 2em auto;
}

.selection-container {
  margin: 0 auto;
}

.history-title {
  position: absolute;
  left: 20%;
}

.history-descriptions {
  position: absolute;
  left: 35%;
}

li {
  display: flex;
  justify-content: left;
}
