div {
  width: 80%;
  margin: 2em auto;
}

.conditions-display {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: wrap;
}

li {
  width: 80px;
}

.bolder {
  font-weight: 800;
}

.selection-container {
  margin: 0 auto;
}

.history-title {
  position: absolute;
  left: 20%;
}

.history-descriptions {
  position: absolute;
  left: 35%;
}

li {
  display: flex;
  justify-content: left;
}
