@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: #2d3133;
  color: aliceblue;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INTERACTION COMPONENTS */
select {
  /* background-color: ; */
  font-size: 1.5rem;
  font-weight: 500;
  height: 3rem;

  padding: 0.4rem;
  border-radius: 0.6rem;
  margin-right: 1rem;
}

select:hover {
  background-color: rgba(29, 30, 30, 1);
  color: rgba(223, 230, 233, 1);
}

button {
  font-size: 1.6rem;
  font-weight: 500;

  line-height: 0.2rem;
  background-color: #474368;
  color: #a29bfe;

  width: auto;
  height: 3rem;
  vertical-align: middle;

  padding: 0.2rem 2rem;
  border: solid 0.12rem;
  border-radius: 0.6rem;
}

button:hover {
  background-color: #a29bfe;
  color: #474368;
}

.buttonUrgent {
  animation: glowing 1.4s infinite;
}

.buttonUrgent:hover {
  animation: glowing 0.7s infinite;
}

@keyframes glowing {
  0% {
    background-color: #474368;
    box-shadow: 0 0 0 #474368;
    color: #a29bfe;
  }
  50% {
    background-color: #a29bfe;
    box-shadow: 0 0 1.2rem #a29bfe;
    color: #474368;
  }
  100% {
    background-color: #474368;
    box-shadow: 0 0 0.5rem #474368;
    color: #a29bfe;
  }
}

::selection {
  background-color: rgba(162, 155, 254, 0.8);
}
